.lineup-section {
  .pad-top-bot(50px;100px);
}

.lineup-avatar {
  text-align: center;
  img {
    height: 180px;
    width: 180px;
    border: @second-color solid 3px;
  }
}

.lineup-name {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  text-align: center;
  h1 {
    margin: 0;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    color: @second-color;
    font-size: 24px;
  }
}

.lineup-role {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  text-align: center;
  h2 {
    margin: 0;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    color: @second-color;
    font-size: 20px;
  }
}

.lineup-years {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  text-align: center;
  h3 {
    margin: 0;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    color: @second-color;
    font-size: 16px;
  }
}
