.news-big {
  height: 400px;
  padding: 0;
}
.news-info-big {
  background: #000;
  opacity: 0.9;
  height: 100px;
  margin-top: 300px;
}
.news-small {
  padding-bottom: 50px;
}
.news-info-small {
  background: #000;
  opacity: 0.9;
  height: 100px;
}
.news-item {
  .news-title {
    h1 {
      font-weight: 700;
      font-family: 'Source Sans Pro', sans-serif;
      text-transform: uppercase;
      color: #fff;
      font-size: 20px;
      a {
        color: #fff;
        border-bottom: 1px solid #fff;
        &:hover {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  .news-tags {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    i {
      color: #fff;
      padding-right: 10px;
    }
    a {
      color: #fff;
      border-bottom: 1px solid #fff;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  .news-date {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    i {
      color: #fff;
      padding-right: 10px;
    }
  }
  .news-time {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    i {
      color: #fff;
      padding-right: 10px;
    }
  }
  .news-pinned {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: gold;
    font-size: 16px;
    i {
      color: #fff;
      padding-right: 10px;
    }
  }
}


.news-separator {
  height: 356.078px;
}

.news-section {
  .pad-top-bot(50px; 100px);
}

.news-section-items {
  .pad-top-bot(25px; 25px);
}

.news-list-tags {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: 12px;
  i {
    color: #fff;
    padding-right: 10px;
  }
  a {
    color: #fff;
    border-bottom: 1px solid #fff;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}
.news-list-date {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: 12px;
  i {
    color: #fff;
    padding-right: 10px;
  }
}

.news-list-time {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: 12px;
  i {
    color: #fff;
    padding-right: 10px;
  }
}

.news-tag-list-date {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: 12px;
  i {
    color: #fff;
    padding-right: 10px;
  }
}

.news-tag-list-time {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: 12px;
  i {
    color: #fff;
    padding-right: 10px;
  }
}
