.nav-pills {
  a {
    color: @second-color !important;
    &:hover {
      color: @second-color !important;
    }
  }
  .active {
      a {
        background-color: @second-color !important;
        color: #fff !important;
      }
  }
}

.account-settings-section {
  .pad-top-bot(50px;50px);
}

.account-settings-heading {
  h1 {
    margin: 0;
    padding-bottom: 20px;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    color: @second-color;
    font-size: 24px;
  }
}

#settings {
  cursor: pointer;
}

#changeEmail {
  cursor: pointer;
}

#changePassword {
  cursor: pointer;
}

#changeAvatar {
  cursor: pointer;
}

#changeInformations {
  cursor: pointer;
}

#changeIndividualAchievments {
  cursor: pointer;
}

#changeSocials {
  cursor: pointer;
}

#editLineup {
  cursor: pointer;
}

#editPartners {
  cursor: pointer;
}

#editAchievments {
  cursor: pointer;
}

#changeEmailContent {
  display: none;
}

#changePasswordContent {
  display: none;
}

#changeAvatarContent {
  display: none;
}

#changeInformationsContent {
  display: none;
}

#changeIndividualAchievmentsContent {
  display: none;
}

#changeSocialsContent {
  display: none;
}

#editLineupContent {
  display: none;
}

#editPartnersContent {
  display: none;
}

#editAchievmentsContent {
  display: none;
}
