.single-news-section {
  .pad-top-bot(0px;100px);
}

.single-news-item {
  height: 400px;
  padding: 0;
}

.single-news-box {
  background: #000;
  opacity: 0.9;
  height: 100px;
  margin-top: 300px;
}

.single-news-info {
  .pad-top-bot(20px;20px);
  text-align: center;
}

.single-news-title {
  padding-top: 15px;
  h1 {
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 24px;
    a {
      color: #fff;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.single-news-tags {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: @second-color;
  font-size: 16px;
  i {
    color: @second-color;
    padding-right: 10px;
  }
  a {
    color: @second-color;
    border-bottom: 1px solid @second-color;
    &:hover {
      color: @second-color;
      text-decoration: none;
    }
  }
}

.single-news-date {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: @second-color;
  font-size: 16px;
  i {
    color: @second-color;
    padding-right: 10px;
  }
}

.single-news-time {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: @second-color;
  font-size: 16px;
  i {
    color: @second-color;
    padding-right: 10px;
  }
}

.single-news-pinned {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: @second-color;
  font-size: 16px;
  i {
    color: @second-color;
    padding-right: 10px;
  }
}

.single-news-content {
  .pad-top-bot(50px;0px);
  p {
    font-family: 'Lato', sans-serif;
    text-align: justify;
    font-size: 16px;
  }
}

.single-news-footer {
  .pad-top-bot(50px;50px);
}

.single-news-avatar {
  text-align: center;
  img {
    width: 160px;
    height: 160px;
  }
}

.single-news-info {
  .single-news-name {
    h1 {
      font-weight: 700;
      font-family: 'Source Sans Pro', sans-serif;
      text-transform: uppercase;
      color: @second-color;
      text-align: center;
      font-size: 24px;
    }
  }
  .single-news-desc {
    p {
      font-family: 'Lato', sans-serif;
      text-align: justify;
    }
  }
}

.single-news-social-item {
  display: inline-block;
  a {
    i {
      color: @second-color;
      transition-duration: 250ms;
      &:hover {
        transform: scale(1.5);
      }
    }
  }
}

.single-news-comment-item {
  .pad-top-bot(20px;20px);
}

.single-news-comment-user {
  text-align: center;
  img {
    border: @second-color solid 3px;
    width: 120px;
    height: 120px;
  }
  h3 {
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    color: @second-color;
    text-align: center;
    font-size: 16px;
  }
  h4 {
    font-family: 'Lato', sans-serif;
    color: @second-color;
    text-align: center;
    font-size: 16px;
  }
  i {
    padding-right: 10px;
  }
}

.single-news-comment-content {
  p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
  }
}

.single-news-comment-options {
  .pad-top-bot(20px;20px);
  text-align: center;
  i {
    padding-right: 10px;
  }
}

.single-news-comment-heading {
  .pad-top-bot(0px; 20px);
  h3 {
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    color: @second-color;
    font-size: 16px;
  }
}

.news-comment-vote-up {
  &:hover {
    color: #30A387;
  }
  transition-duration: 50ms;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}

.news-comment-vote-down {
  &:hover {
    color: #BB2A32;
  }
  transition-duration: 50ms;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}

.news-comment-reply {
  &:hover {
    color: #2F3F4F;
  }
  transition-duration: 50ms;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}

.news-comment-edit {
  &:hover {
    color: #2F3F4F;
  }
  transition-duration: 50ms;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}

.news-comment-delete {
  &:hover {
    color: #BB2A32;
  }
  transition-duration: 50ms;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}

.single-news-comments-section {
  .pad-top-bot(50px;50px);
}

.single-news-last-articles {
  .pad-top-bot(50px;50px);
}

.single-news-last-article-item {
  height: 200px;
  padding: 0;
}

.single-news-last-article-box {
  background: #000;
  opacity: 0.9;
  height: 80px;
  margin-top: 120px;
}

.single-news-title {
  padding: 0;
  h1 {
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 28px;
    a {
      color: #fff;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.single-news-latest-title {
  padding: 0;
  h1 {
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 16px;
    a {
      color: #fff;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.heading-news {
  padding: 0;
  padding-bottom: 60px;
  h1 {
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 36px;
  }
}

.single-news-comment-add {
  .pad-top-bot(0px; 50px);
}

.single-news-reply-add {
  display: none;
}

.single-news-comment-edit {
  display: none;
}

.single-news-comment-delete {
  display: none;
}

.showEditedContent {
  span {
    border-bottom: 1px solid @second-color;
    cursor: pointer;
  }
}
