.social-bar {
  background: #000;
  .pad-top-bot(10px; 10px);
}

.social-item {
  a {
    i {
      color: #fff;
      transition-duration: 250ms;
      &:hover {
        transform: scale(1.5);
      }
    }
  }
}
